In [1]:
import pandas as pd

In [3]:
data=[10,20,30,40]
v=pd.Series(data)
v

0    10
1    20
2    30
3    40
dtype: int64

In [4]:
data={
'Name':['bunny','konda','sam'],
'Age' : ['24','21','25'],
'City': ['knr','hyd','wrg']
}

v=pd.DataFrame(data)
v

    Name Age City
0  bunny  24  knr
1  konda  21  hyd
2    sam  25  wrg

In [7]:
import pandas as pd
df=pd.read_csv('transactions.csv')
df

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [8]:
#1

print("First 5 rows of the dataset:")
print(df.head())

# Step 4: Dataset info (column names, data types, non-null counts)
print("\nDataset Info:")
print(df.info())

# Step 5: Check for missing values
print("\nMissing Values in Each Column:")
print(df.isnull().sum())

# Step 6: Descriptive statistics for numerical columns
print("\nDescriptive Statistics:")
print(df.describe())

print("\n last 5 rows of the dataset")
print(df.tail())

First 5 rows of the dataset:
   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1

Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   TransactionID    10 non-null     int64
 1   TransactionDate  10 non-null     object
 2   UserID           9 non-null      float64
 3   ProductID        10 non-null     int64
 4   Quantity         10 non-null     int64
dtypes: float64(1), int64(3), object(1)
memory usage: 528.0+ bytes
None

Missing Values in Each Column:
TransactionID      0
TransactionDate    0
UserID             1
ProductID          0
Quantity           0
dtype: int64

Descriptive Statistics:
       TransactionID    UserID  ProductID   Quantity
count       10.00000  9.000000  10.000000  10.000000
mean         5.50000  3.444444   3.400000   2.400000
std          3.02765  2.127858   1.074968   1.712698
min          1.00000  1.000000   2.000000   1.000000
25%          3.25000  2.000000   2.250000   1.000000
50%          5.50000  3.000000   4.000000   2.000000
75%          7.75000  3.000000   4.000000   3.000000
max         10.00000  7.000000   5.000000   6.000000

 last 5 rows of the dataset
   TransactionID TransactionDate  UserID  ProductID  Quantity
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [9]:
#2

print(df.shape[1])

5

In [10]:
#3

print(df.shape[0])

10

In [11]:
#4

print(list(df.index))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [12]:
#5

print(list(df.columns))

['TransactionID', 'TransactionDate', 'UserID', 'ProductID', 'Quantity']

In [13]:
#6

print(df.head(10))

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [14]:
#7

#change the name of attribute

df.rename(columns={'Quantity':'Quant'}, inplace= True)

In [15]:
list(df.columns)

['TransactionID', 'TransactionDate', 'UserID', 'ProductID', 'Quant']

In [17]:
#8

df.rename(columns={"ProductID": "PID", "UserID": "UID"}, inplace=True)
df.columns

Index(['TransactionID', 'TransactionDate', 'UID', 'PID', 'Quant'], dtype='object')

In [18]:
#9

df_sorted=df.sort_values(by='TransactionID',ascending=True)
print(df_sorted.head())

   TransactionID TransactionDate  UID  PID  Quant
0              1      2010-08-21  7.0    2      1
1              2      2011-05-26  3.0    4      1
2              3      2011-06-16  3.0    3      1
3              4      2012-08-26  1.0    2      3
4              5      2013-06-06  2.0    4      1

In [19]:
#10

df_sorted=df.sort_values(by=['Quant','TransactionDate'],ascending=[True,False])
print(df_sorted.head())

   TransactionID TransactionDate  UID  PID  Quant
6              7      2013-12-30  3.0    4      1
4              5      2013-06-06  2.0    4      1
2              3      2011-06-16  3.0    3      1
1              2      2011-05-26  3.0    4      1
0              1      2010-08-21  7.0    2      1

In [20]:
#11

df=df[['PID','Quant','TransactionDate','TransactionID','UID']]
print(list(df.columns))

['PID', 'Quant', 'TransactionDate', 'TransactionID', 'UID']

In [21]:
#12

df=df[['UID','PID','Quant','TransactionDate','TransactionID']]
print(list(df.columns))

['UID', 'PID', 'Quant', 'TransactionDate', 'TransactionID']

In [22]:
#13

second_column_array=df.iloc[:,1].values
print(second_column_array)

[2 4 3 2 4 5 4 2 4 4]

In [23]:
#14

product_id_array=df['PID'].values
print(product_id_array)

[2 4 3 2 4 5 4 2 4 4]

In [24]:
#16
subset_rows=df.iloc[[1,3,6]]
print(subset_rows)

   UID  PID  Quant TransactionDate  TransactionID
1  3.0    4      1      2011-05-26              2
3  1.0    2      3      2012-08-26              4
6  3.0    4      1      2013-12-30              7

In [25]:
#17

subset_exclud=df.drop(index=[1,3,2])
print(subset_exclud)

   UID  PID  Quant TransactionDate  TransactionID
0  7.0    2      1      2010-08-21              1
4  2.0    4      1      2013-06-06              5
5  2.0    5      6      2013-12-23              6
6  3.0    4      1      2013-12-30              7
7  NaN    2      3      2014-04-24              8
8  7.0    4      3      2015-04-24              9
9  3.0    4      4      2016-05-08             10

In [26]:
#18

first_three=df.iloc[:3]
print(first_three)

   UID  PID  Quant TransactionDate  TransactionID
0  7.0    2      1      2010-08-21              1
1  3.0    4      1      2011-05-26              2
2  3.0    3      1      2011-06-16              3

In [27]:
#19

last_two=df.iloc[:-2]
print(last_two)

   UID  PID  Quant TransactionDate  TransactionID
0  7.0    2      1      2010-08-21              1
1  3.0    4      1      2011-05-26              2
2  3.0    3      1      2011-06-16              3
3  1.0    2      3      2012-08-26              4
4  2.0    4      1      2013-06-06              5
5  2.0    5      6      2013-12-23              6
6  3.0    4      1      2013-12-30              7
7  NaN    2      3      2014-04-24              8

In [28]:
#20

excluding_last_two = df.iloc[:-2]
print(excluding_last_two.head(10))

   UID  PID  Quant TransactionDate  TransactionID
0  7.0    2      1      2010-08-21              1
1  3.0    4      1      2011-05-26              2
2  3.0    3      1      2011-06-16              3
3  1.0    2      3      2012-08-26              4
4  2.0    4      1      2013-06-06              5
5  2.0    5      6      2013-12-23              6
6  3.0    4      1      2013-12-30              7
7  NaN    2      3      2014-04-24              8

In [29]:
#21

exclude_first_three=df.iloc[3:]
print(exclude_first_three.head(10))

   UID  PID  Quant TransactionDate  TransactionID
3  1.0    2      3      2012-08-26              4
4  2.0    4      1      2013-06-06              5
5  2.0    5      6      2013-12-23              6
6  3.0    4      1      2013-12-30              7
7  NaN    2      3      2014-04-24              8
8  7.0    4      3      2015-04-24              9
9  3.0    4      4      2016-05-08             10

In [77]:
#22

quant_gt_1=df[df['Quant']>1]

print(quant_gt_1.head(10))

   UID  PID  Quant TransactionDate  TransactionID
3  1.0    2      3      2012-08-26              4
5  2.0    5      6      2013-12-23              6
7  NaN    2      3      2014-04-24              8
8  7.0    4      3      2015-04-24              9
9  3.0    4      4      2016-05-08             10

In [80]:
#23

uid=df[df['UID']==2]

print(uid.head())

   UID  PID  Quant TransactionDate  TransactionID
4  2.0    4      1      2013-06-06              5
5  2.0    5      6      2013-12-23              6

In [81]:
#24

subset=df[(df['Quant']>1) & (df['UID']==2)]
print(subset.head())

   UID  PID  Quant TransactionDate  TransactionID
5  2.0    5      6      2013-12-23              6

In [82]:
#25

subset = df[(df['Quant'] + df['UID']) > 3]
print(subset.head())

   UID  PID  Quant TransactionDate  TransactionID
0  7.0    2      1      2010-08-21              1
1  3.0    4      1      2011-05-26              2
2  3.0    3      1      2011-06-16              3
3  1.0    2      3      2012-08-26              4
5  2.0    5      6      2013-12-23              6

In [83]:
#26
foo = [True, False, True, False, True,True,False,True,False,False] 
subset = df[foo]
print(subset)

   UID  PID  Quant TransactionDate  TransactionID
0  7.0    2      1      2010-08-21              1
2  3.0    3      1      2011-06-16              3
4  2.0    4      1      2013-06-06              5
5  2.0    5      6      2013-12-23              6
7  NaN    2      3      2014-04-24              8

In [85]:

#27

bar= [1, -3, 5, 0, 2, -1, 7, 5,-4,8]  # This must match df.shape[0]

import numpy as np
bar = np.array(bar)
subset = df[bar > 0]

print("Rows where bar > 0:")
print(subset)

Rows where bar > 0:
   UID  PID  Quant TransactionDate  TransactionID
0  7.0    2      1      2010-08-21              1
2  3.0    3      1      2011-06-16              3
4  2.0    4      1      2013-06-06              5
6  3.0    4      1      2013-12-30              7
7  NaN    2      3      2014-04-24              8
9  3.0    4      4      2016-05-08             10

In [86]:
#28

import numpy as np

foo=np.array(foo)
bar=np.array(bar)

subset=df[(foo == True) | (bar < 0)]
print(subset)

   UID  PID  Quant TransactionDate  TransactionID
0  7.0    2      1      2010-08-21              1
1  3.0    4      1      2011-05-26              2
2  3.0    3      1      2011-06-16              3
4  2.0    4      1      2013-06-06              5
5  2.0    5      6      2013-12-23              6
7  NaN    2      3      2014-04-24              8
8  7.0    4      3      2015-04-24              9

In [87]:
#29

subset=df[(foo == False) | (bar >= 0)]
print(subset)

   UID  PID  Quant TransactionDate  TransactionID
0  7.0    2      1      2010-08-21              1
1  3.0    4      1      2011-05-26              2
2  3.0    3      1      2011-06-16              3
3  1.0    2      3      2012-08-26              4
4  2.0    4      1      2013-06-06              5
6  3.0    4      1      2013-12-30              7
7  NaN    2      3      2014-04-24              8
8  7.0    4      3      2015-04-24              9
9  3.0    4      4      2016-05-08             10

In [88]:
#30

subset_columns = df.iloc[[1, 3]]
print(subset_columns.head())

   UID  PID  Quant TransactionDate  TransactionID
1  3.0    4      1      2011-05-26              2
3  1.0    2      3      2012-08-26              4

In [89]:
#31

subset_columns = df[['TransactionID', 'TransactionDate']]
print(subset_columns.head())

   TransactionID TransactionDate
0              1      2010-08-21
1              2      2011-05-26
2              3      2011-06-16
3              4      2012-08-26
4              5      2013-06-06

In [90]:
#32

subset = df[df['TransactionID'] > 1000][['TransactionID', 'TransactionDate']]

print("Rows where TransactionID > 1000:")
print(subset.head())

Rows where TransactionID > 1000:
Empty DataFrame
Columns: [TransactionID, TransactionDate]
Index: []

In [103]:
#33

cols_to_include = ['TransactionID', 'TransactionDate']

# Subset
subset = df[cols_to_include]

print("Subset by variable list of columns:")
print(subset.head())

Subset by variable list of columns:
   TransactionID TransactionDate
0              1      2010-08-21
1              2      2011-05-26
2              3      2011-06-16
3              4      2012-08-26
4              5      2013-06-06

In [105]:
#34


cols_to_exclude = ['TransactionID', 'TransactionDate']

# Subset by excluding them
subset_excluded = df.drop(columns=cols_to_exclude)

print("Subset excluding variable list of columns:")
print(subset_excluded.head())

Subset excluding variable list of columns:
   UID  PID  Quant
0  7.0    2      1
1  3.0    4      1
2  3.0    3      1
3  1.0    2      3
4  2.0    4      1

In [107]:
#36

df['TransactionDate'] = pd.to_datetime(df['TransactionDate'])

# Verify conversion
print(df['TransactionDate'].dtypes)

datetime64[ns]

In [108]:
#37

df['Foo'] = df['UID'].astype(str) + df['PID'].astype(str)

# Preview the result
print(df[['UID', 'PID', 'Foo']].head())

   UID  PID   Foo
0  7.0    2  7.02
1  3.0    4  3.04
2  3.0    3  3.03
3  1.0    2  1.02
4  2.0    4  2.04